# shell
alias qq='exit'
alias soz='echo Sourcing $HOME/.zshrc && source $HOME/.zshrc'
alias vim='nvim'

# pacman
alias p='pacman'
alias sp='sudo pacman -S'
alias spyu='sudo pacman -Syu'

# git
alias ga='git add'
alias gaa='git add --all'
alias gap='git add --patch'
alias gf='git fetch'
alias gl='git pull'
alias gup='git pull --rebase'
alias gp='git push'
alias glg='git log'
alias glgg='git log --graph'
alias gd='git diff'
alias gs='git status'
alias gss='git status -s'
alias gcam='git commit -v -a -m'
alias gcan!='git commit -v -a --amend --no-edit'
alias gpristine='git reset --hard && git clean -dfx'

# tmux
alias ta='tmux attach-session -t'
alias tad='tmux attach-session -d -t'
alias tn='tmux new-session -s'
alias tl='tmux list-sessions'
alias tksv='tmux kill-server'
alias tkss='tmux kill-session -t'

# bepo mistakes
alias ru='echo "Did you mean ls? If yes, you are using the bepo layout!"'
alias xi='echo "Did you mean cd? If yes, you are using the bepo layout!"'
