{{- $username := promptStringOnce . "username" "Username" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $work_username := promptStringOnce . "work_username" "Work username" -}}
{{- $work_email := promptStringOnce . "work_email" "Work email address" -}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
username = {{ $username | quote }}
email = {{ $email | quote }}
work_username = {{ $work_username | quote }}
work_email = {{ $work_email | quote }}
osid = {{ $osid | quote }}

[diff]
pager = "delta"
