[[ $TERM == "dumb" ]] && unsetopt zle && PS1='$ ' && return

{{- if eq .chezmoi.osRelease.id "arch" }}
export BROWSER="zen-browser"
{{- end }}
export EDITOR="nvim"
export PATH="$HOME/.local/bin:$PATH"
export XDG_CONFIG_HOME="$HOME/.config"
export ZSH="$XDG_CONFIG_HOME/oh-my-zsh"
export _Z_DATA="$XDG_CONFIG_HOME/z/z"

[[ -f ~/.zshenv.secrets ]] && source ~/.zshenv.secrets

plugins=(
  common-aliases
  direnv
  fzf
  git
{{- if eq .chezmoi.osRelease.id "arch" }}
  archlinux
  systemd
{{- else if eq .chezmoi.os "darwin" }}
  brew
  kubectl
{{- end }}

  # keep the zsh plugins at the end
  zsh-autosuggestions
  zsh-syntax-highlighting
)

DISABLE_AUTO_UPDATE="true"
ZSH_DISABLE_COMPFIX="true"
ZSH_THEME=""

source $ZSH/oh-my-zsh.sh

unsetopt HIST_VERIFY  # !! in peace
bindkey '^ ' autosuggest-accept  # who uses arrow keys ?

# aliases
alias ld='lazydocker'
alias lg='lazygit'
alias -g G='| rg'
alias -g F='| fzf'
alias -g D='& disown'
alias -g E='&& exit'
# alias -g C='| xclip -selection clipboard'
alias ag='alias | rg'

{{ if eq .chezmoi.os "darwin" -}}
# The next line updates PATH for the Google Cloud SDK.
if [ -f '/Users/Dan/Packages/google-cloud-sdk/path.zsh.inc' ]; then . '/Users/Dan/Packages/google-cloud-sdk/path.zsh.inc'; fi

# The next line enables shell command completion for gcloud.
if [ -f '/Users/Dan/Packages/google-cloud-sdk/completion.zsh.inc' ]; then . '/Users/Dan/Packages/google-cloud-sdk/completion.zsh.inc'; fi

source ~/.safe-chain/scripts/init-posix.sh # Safe-chain Zsh initialization script
{{ end -}}

eval "$(zoxide init zsh)"
eval "$(starship init zsh)"
eval "$(uv generate-shell-completion zsh)"
eval "$(uvx --generate-shell-completion zsh)"
