#!/bin/bash

KEY_PATH="$HOME/.ssh/id_ed25519_personal"
if [ ! -f "$KEY_PATH" ]; then
  ssh-keygen -t ed25519 -C "Personal {{ .email }}" -f "$KEY_PATH" -N "{{ .ssh_passphrase }}"
fi

{{ if eq .osid "darwin" }}
WORK_KEY_PATH="$HOME/.ssh/id_ed25519_work"
if [ ! -f "$WORK_KEY_PATH" ]; then
  ssh-keygen -t ed25519 -C "Work {{ .email }}" -f "$WORK_KEY_PATH" -N "{{ .ssh_passphrase }}"
fi
{{ end }}

echo "Do not forget to add the keys at https://github.com/settings/keys"
