{{ if eq .osid "linux-arch" -}}
#!/bin/bash

sudo pacman --sync --noconfirm --needed \
  {{ range .packages.arch.pacman -}}
{{ . }} \
  {{ end }}

if ! command -v paru &>/dev/null; then
  cd /tmp
  git clone https://aur.archlinux.org/paru.git
  cd paru
  makepkg -si --noconfirm
fi

paru --sync --noconfirm --needed \
  {{ range .packages.arch.aur -}}
{{ . }} \
  {{ end }}

{{ end -}}
