#!/bin/bash

{{- if eq .chezmoi.osRelease.id "arch" }}

# paru is assumed to be already built and installed

packages=(
  # CLI
  bat
  eza
  fastfetch
  fd
  fzf
  git-delta
  kitty
  neovim
  ripgrep
  starship
  zoxide
  zsh

  # Programming
  uv

  # Fonts
  ttf-jetbrains-mono-nerd

  # AUR
  spotify
  zen-browser-bin
)

paru -S --noconfirm "${packages[@]}"

{{- else if eq .chezmoi.os "darwin" }}

packages=(
  # CLI
  bat
  eza
  fastfetch
  fd
  fzf
  git-delta
  kitty
  neovim
  ripgrep
  starship
  zoxide
  zsh

  # Programming
  uv

  # Fonts
  ttf-jetbrains-mono-nerd

  # AUR
  spotify
  zen-browser-bin
)

brew install "${packages[@]}"

{{- end }}
