{{ if eq .osid "linux-arch" -}}
#!/bin/bash

sudo pacman --sync --noconfirm --needed \
  {{ range .packages.arch.pacman -}}
{{ . }} \
  {{ end }}

cd ~/.local/share/HyDE
./install.sh

yay --sync --noconfirm --needed \
  {{ range .packages.arch.aur -}}
{{ . }} \
  {{ end }}

{{ end -}}
