#!/bin/bash

packages=(
  # CLI
  bat
  curl
  eza
  fastfetch
  fd
  fzf
  git-delta
  kitty
  lazygit
  less
  neovim
  ripgrep
  starship
  wl-clipboard
  zoxide
  zsh

  # Programming
  uv
)

{{- if eq .chezmoi.osRelease.id "arch" }}

packages+=(
  # Manuals
  man-db
  man-pages

  # Fonts
  ttf-jetbrains-mono-nerd

  # AUR
  spotify
  zen-browser-bin
)
paru -S --noconfirm --needed "${packages[@]}"

{{- else if eq .chezmoi.os "darwin" }}

brew install "${packages[@]}"

{{- end }}

if [ -f "$HOME/.local/bin/chezmoi" ]; then
  rm -rf "$HOME/.local/bin/chezmoi"
fi
