gui:
  nerdFontsVersion: "3"
git:
{{- if eq .osid "darwin" }}
  commitPrefix:
    - pattern: "^(\\w+-\\w+).*"
      replace: "($1)[API] "
{{- end }}
  pagers:
    - pager: delta --paging=never --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
